/* Configuration basique */
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
}
* {
  text-decoration: none;
  border: none;
  outline: none;
  text-align: left;
  background: none;
  transition: all 0.2s ease-in-out !important;
}
a, button{
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
h1, h2, p {
  margin: 0;
}

/* Configuration formulaire */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="radio"]:focus,
input[type="file"]:focus,
input[type="submit"]:focus,
textarea:focus {
  outline: none;
  border: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Scroll Bar */
/*::-webkit-scrollbar {*/
/*  width: 4px;*/
/*  height: 4px;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*  background: none;*/
/*  border-radius: 15px;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*  background: white;*/
/*  border-radius: 15px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: white;*/
/*}*/
